
db/journal/WiredTigerLog.0000000008 filter=lfs diff=lfs merge=lfs -text
db/journal/WiredTigerPreplog.0000000001 filter=lfs diff=lfs merge=lfs -text
db/journal/WiredTigerPreplog.0000000002 filter=lfs diff=lfs merge=lfs -text
