<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<h1 class="text-center vlbc-colour-orange">Manual Switch</h1>
<div class="buttonsManualSwitch">


    <br/>

    <% for (var counter = 0; counter < 8; ++counter){ %>

    <form method="POST" action="/manualSwitch">

        <label class="vlbc-label-margin" >Channel <%= allChannels[counter].channelNumber %></label>

        <input type="hidden" name="channelNumber" value="<%= allChannels[counter].channelNumber %>">

        <button type="submit" name="on" class="btn btn-success vlbc-margin" value="true">On</button>
        <button type="submit" name="off" class="btn btn-danger vlbc-margin" value="false">Off</button>

        <% if (allChannels[counter].status === false) { %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <% } else { %>
            <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
        <% } %>

    </form>
    <% } %>
    <br/>
</div>


<% include partials/footer.ejs %>